@media (max-width:1920px) {
    .picture-item-new,
    .subtitle-new,
    .dots,
    .color-change {
        display: none;
    }
}

@media (max-width:1200px) {
    .main {
        min-height: 340px;  
    }
    
    .imgg {
        min-height: 340px; 
    }
    .card2,
    .card5 {
        display: none;
    }

    .title {
        font-size: 54px;
        line-height: 60px;
        width: 50%;
    }

    .container {
        padding-top: 80px;
        grid-template-columns: repeat(2, 465px);
        grid-template-rows: repeat(2, 469px);
    }

    .picture-item,
    .picture-item-new  {
        width: 405px;
        height: 170px;
    }

    .category-color,
    .btn-color-new {
        border: 1px solid #00B6DD;
        background-color: #00B6DD;
    }

    .picture-item-new {
        display: inline;
        position: absolute;
        margin-top: 30px;
        margin-left: 30px;
    }

    .subtitle-new {
        display: initial;
    }

    .dots {
        display: initial;
    }

    .btn-indent {
        margin-top: 30px;
    }

    .color-change {
        display: initial;
    }
}


@media (max-width:992px) {
    .main {
        min-height: 276px;
    }

    .imgg {
        min-height: 276px;
    }

    .title {
        font-size: 46px;
        line-height: 48px;
        letter-spacing: 1px;
        width: 45%;
    }

    .container {
        padding-top: 60px;
        grid-template-columns: repeat(2, 345px);
        grid-template-rows: repeat(2, 440px);
    }

    .picture-item,
    .picture-item-new  {
        width: 289px;
        height: 150px;
    }

    .category,
    .category2 {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .person,
    .person2 {
        padding-top: 190px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.8px;
    }

    .subtitle,
    .subtitle-new  {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
    }

    .description {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.6px;
    }

    .btn,
    .btn-color {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.8px;
    }

    .btn-color-new {
        border: 1px solid #081580;
        background-color:#081580;
    }
}

@media (max-width:768px) {
    .title {
        width: 60%;
    }

    .imgg {
        min-height: 236px;
    }

    .container {
        padding-top: 50px;
        grid-template-columns: repeat(1, 546px);
        grid-template-rows: repeat(2, 418px);
    }

    .picture-item,
    .picture-item-new  {
        margin-left: 25px;
        width: 490px;
        height: 150px;
    }
}

@media (max-width:576px) {
    .imgg {
        min-height: 274px;
    }

    .title {
        font-size: 46px;
        line-height: 48px;
        letter-spacing: 1px;
        width: 50%;
    }

    .container {
        grid-template-columns: repeat(1, 290px);
        grid-template-rows: repeat(2, 448px);
    }

    .picture-item,
    .picture-item-new  {
        width: 258px;
        height: 140px;
        margin-left: 15px;
        margin-top: 15px;
    }

    .person,
    .person2 {
        padding-top: 180px;
    }

    .person,
    .person2,
    .subtitle,
    .description {
        padding-left: 15px;
    }

    .btn,
    .btn-color {
        margin-left: 15px;
    }
}